<!DOCTYPE html>
<html>
    <head>
        <title>FIRE</title>
    </head>
    <body>
        <style type='text/css'>
            body {
              background-color: black
            }
            
            h1 {
              color: red;
            }
            
          </style>
    </div>
    <div style="text-align:center">
        <h1>Fire Detection</h1>
    </div>  
 
    
    <form action='.' method='POST'enctype="multipart/form-data">
        <br>
        <br>
        <div style="text-align:center">
            <input type="file" name="image" id="file-selector" accept=".jpg, .jpeg, .png">

        <input type='submit' name="btn" value='Submit' style="height:25px; width:100px"  />
        </div>  
        
    </form>
    <script>
        const fileSelector = document.getElementById('file-selector');
        fileSelector.addEventListener('change', (event) => {
          const fileList = event.target.files;
          console.log(fileList);
        });
      </script> 
    </body>

</html>
